.return {
  display: block;
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #fff;
}
.notFound {
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  padding: 10px;
}
.return-page{
    text-decoration: none;
    color: rgb(0%, 50%, 0%);
    font-style: oblique;
    padding: 10px;
    font-size: 20px;
}
